<div class="registration-container">
    <h1> <%- title %></h1>

    <div class="spacing">
        <!-- Message Block -->
        <% if (errors) { %>
            <ul class="notice">
                <% errors.array().forEach(error => { %>

                    <% if(error.msg != "Invalid value") {%>
                        <li><%= error.msg %></li>
                    <%}%>
                <% }) %>
            </ul>
        <% } %>
    </div>

    <form class="registration-form" action="/account/registration" method="POST" autocomplete="on">

        <span class="legend">All fields are required *</span>

        <div class="form-line-division">

            <!-- Campo First Name -->
            <div class="form-group">
                <label for="firstName"> First Name</label>
                <input type="text"
                       placeholder="First Name"
                       id="firstName"
                       name="account_firstname"
                       required
                       value="<%= locals.account_firstname || '' %>"
                       aria-describedby="firstname-error"
                       autocomplete="first-name">

            </div>

            <!-- Campo Last Name (corregido el nombre del campo) -->
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text"
                       placeholder="Last Name"
                       id="lastName"
                       name="account_lastname"
                       required
                       value="<%= locals.account_lastname || '' %>"
                       aria-describedby="lastname-error"
                       autocomplete="last-name">
                <div class="error-container"></div>
            </div>
            



            <div class="form-group">
                <label for="email">Email Address</label>
                <input type="email"
                       placeholder="Enter a valid email address"
                       id="email"
                       name="account_email"
                       required
                       pattern="[^@\s]+@[^@\s]+\.[^@\s]+"
                       value="<%= locals.account_email || '' %>"
                       autocomplete="email"
                       aria-describedby="email-error">


            </div>

            <div class="form-group">
                <label for="accountPassword">Password</label>
                <div class="password-container">
                    <input type="password"
                           placeholder="Password"
                           id="accountPassword"
                           name="account_password"
                           required
                           pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"
                           aria-describedby="password-error"
                           autocomplete="new-password">

                    <button type="button" class="password-toggle" id="togglePassword">
                        <img src="/images/eye-close.png" id="first-eyeIcon">
                    </button>
                </div>

            </div>

            <div class="form-group">
                <label for="confirmPassword">Confirm Password</label>
                <div class="password-container">
                    <input type="password"
                           placeholder="Confirm Password"
                           id="confirmPassword"
                           name="confirm_password"
                           required
                           pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"
                           aria-describedby="confirm-password-error"
                           autocomplete="new-password">

                    <button type="button" class="password-toggle" id="toggleConfirmPassword">
                        <img src="/images/eye-close.png" id="second-eyeIcon">
                    </button>
                </div>




                <span class="password-requirements">
                        Passwords must be at least 12 characters and contain at least 1 number, 1 capital letter, and 1 special character.
                </span>



            </div>

            <div class="register-btn">
                <button type="submit">Register</button>
            </div>
            <div class="form-footer">
                <p>Already have an account? <a href="/account/login">Sign in</a></p>
            </div>
        </div>
    </form>
</div>
<script src="/js/view-password-login.js"></script>
<script src="/js/show-password-register.js"></script>